@model List<Employee>

<style>
    /*CSS class for employees with less than 100h worked*/
    .low-hours-worked {
        background-color: gray;
    }

    table {
        text-align: center;
        margin: 0 auto;
    }
</style>

<div style="text-align:center">
    <div id="chart"></div>
    <button id="downloadChart">Save Pie-Chart as PNG</button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Time Worked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.TotalTimeWorked < 100 ? "low-hours-worked" : "")">
                    <td>@item.Name</td>
                    <td>@item.GetHoursAndMinutes()</td>
                </tr>
            }
        </tbody>
    </table>
</div>